body{
	margin: 0px;
	background-color: #1C2841;

}

#tagesschauLogo{
	content: url(images/tagesschauLogo.png);
	height: 44px;
	position: relative;
	top: 12px;
	left: 18px;
	border-radius: 5px;
		
}
	
#searchField{
	float: right;
	position: relative;
	top: 0px;
		/*left: -20px; */ 
}

#headerNaviLine{
	background-color: none;
	width: 100%;
	height: 40px;
	float: left;
	//margin-top: -10px;

}

#headerNaviLine ul{
	font-family: Arial, Helvecita, sans-serif;
	color: white;
//	font-weight: bold;
	display: flex;				// das + justify-content -> horizontal zentriert
//		align-items: center;
	justify-content: center;	
}

#headerNaviLine li{
	list-style: none;
	float: left;
	padding-left: 5px;

}

.headerNaviLink{
	color: white;
	text-decoration: none;
	font-size: 16px;
	margin-left: 5px;
}

.headerNaviLink:hover{
	color: dark-blue;
	text-decoration: none;
	font-size: 16px;
	background-color: with;
}
	/* a#:link sollte eigentlich fuer alle Links einer a-Ref funktioneren */
	#TL-Link {
		color: white;
		text-decoration: none;
		font-size: 16px;
		padding: 10px 5px 10px 15px;	// macht, dass die Links vollständig über die gasmmte Leiste hervorgehoben werden
	}

	#TL-Link:hover{
		color: black;
		background-color: white;
		text-decoration: none;
	}

