/*<style type="text/css">*/

/* Das body-Styling funktioniert nicht in externalCSS! -> Keine Ahnung warum nicht
	Lösung: <style type... > muss entfernt werden in css
*/
	body{
		background-image:url("images/background.JPG");
		background-size: 150%;
	}
	
	#centeredContextBlock{
		width: 900px;
		margin-left: auto;
		margin-right: auto;
	}
	
	#Topleiste{
		font-family: Arial, Helvecita, sans-serif;
		background-color: #42587E;
		width: 100%;
		height: 40px;
		float: left;
		margin-top: -10px;
	}
	
	#Topleiste ul{
		position: relative;
		top: -5px;
		display: flex;				// das + justify-content -> horizontal zentriert
//			align-items: center;
		justify-content: center;	
	}

	/* Ansprechen der Listenelemente der Topleiste */
	#Topleiste li{
		list-style: none;
		float: left;
	}
	
	/* a:link sollte eigentlich fuer alle Links einer a-Ref funktioneren */
	#TL-Link {
		color: white;
		text-decoration: none;
		font-size: 16px;
		padding: 10px 5px 10px 5px;	// macht, dass die Links vollständig über die gasmmte Leiste hervorgehoben werden
	}

	#TL-Link:hover{
		color: black;
		background-color: white;
		text-decoration: none;
	}

	a:link {
		color: yellow;
		text-decoration: none;
		font-size: 16px;
		padding: 10px 5px 10px 5px;
		
	}
	
	a:hover{
		color: blue;
		background-color: white;
		text-decoration: none;
	}
	
	#ardPic{
		content: url(images/ardLogo_2.jpg);
		width: 70px;
		position: relative;
		top: 10px;
		border-radius: 5px;
		
	}
	
	#searchField{
		float: right;
		position: relative;
		top: -22px;
		/*left: -20px; */ 
	}

	#searchField input{
		height: 20px;
		background-image: url(images/searchIcon.png);
		background-position: right;
		background-size: 20px;
		background-repeat: no-repeat;

	}

	#blueStripe_News{
		position: relative;
		top: 25px;
		background-color: rgb(0, 132, 255);
		height: 30px;
		border: 5px white solid;  			
	}

	#blueStripe_Content{
		position: relative;
		top: 25px;
		background-color: #42587E;
		height: 30px;
		border: 5px white solid;  			
	}

	#stripeText{
		font-family: Arial, Helvecita, sans-serif;
		font-weight: bold;
		color: white;
		position: relative;
		top: -10px;
	}

	#newsBlock{
		position: relative;
		top: 20px;
		background-color: white;
		border: 5px white solid;
		font-family: Arial, Helvecita, sans-serif;  			
	}

	.newsBlockPic{
		margin-right: 10px;
		float: left;
	}

	#contentLink{
		color: black;
		text-decoration: none;
		font-size: 16px;
		padding: 10px 5px 10px 5px;

	
	}
	#contentLink:hover{
		color: black;
		text-decoration: none;
		background-color: darkgrey;
		background-size: 100px;

	}

	.h3_content{
		padding-top: 0px;
	}

	.p_content{
		margin-top: 2px;
		margin-bottom: 5px;
	}

	.p_topLineNews{
		margin-top: 5px;
	}

	.clear-float {
		clear: both;
	}

	.smallContenBlock{
		width: 300px;
		float: left;
	}

	.stripeSmall{
		position: relative;
		top: 25px;
		height: 30px;
		border: 5px white solid;  			
	}

	#stripeSmall_1{
		background-color: #42587E;
	}

	#stripeSmall_2{
		background-color: yellow;
	}

	#stripeSmall_2_Text{
		font-family: Arial, Helvecita, sans-serif;
		font-weight: bold;
		color: black;
		position: relative;
		top: -10px;
	}

	#stripeSmall_3{
		background-color: blueviolet;
	}

	.newsBlockSmall{
		position: relative;
		top: 20px;
		height: 400px;
		background-color: white;
		border: 5px white solid;
		font-family: Arial, Helvecita, sans-serif;  
	}

	.newsBlockSmall:hover{
		position: relative;
		top: 20px;
		background-color: grey;
		border: 5px white solid;
		font-family: Arial, Helvecita, sans-serif;  
	}

	#newsBlockSmall_Link{
		color: black;
		text-decoration: none;
		padding: 0%;
	}

/*
	hr{
		margin: 5px;
	}
*/


/*</style>*/